# Основные библиотеки для анализа данных и машинного обучения
numpy>=1.22
pandas>=1.5
scikit-learn>=1.2
tensorflow>=2.10
keras>=2.10
torch>=2.6  # Если используете PyTorch
torchvision>=0.21  # Если используете torchvision

# Библиотеки для визуализации
matplotlib>=3.10
seaborn>=0.13
plotly>=5.24

# Библиотеки для обработки естественного языка (NLP)
spacy>=3.8
nltk>=3.9
transformers>=4.51

# Библиотеки для работы с табличными данными
polars>=1.21
dask>=2024.12

# Библиотеки для работы с геоданными
geopandas>=1.0
folium>=0.19

# Библиотеки для работы с изображениями
opencv-python>=4.11
Pillow>=11.2

# Библиотеки для работы с сетью и HTTP
requests>=2.32
aiohttp>=3.11

# Библиотеки для работы с базами данных
SQLAlchemy>=2.0
psycopg2>=2.9

# Утилиты и инструменты
protobuf>=5.29
psutil>=5.9
joblib>=1.4
tqdm>=4.67
beautifulsoup4>=4.13
lxml>=5.4

# Библиотеки для работы с большими данными и распределенными вычислениями
dask-cuda>=25.2
cudf-cu12>=25.2.1  # Если используете RAPIDS
cuml-cu12>=25.2.1  # Если используете RAPIDS

# Библиотеки для работы с облачными сервисами
google-cloud-storage>=2.19
google-auth>=2.38
google-api-core>=2.24

# Библиотеки для работы с языковыми моделями и генеративным AI
langchain>=0.3
openai>=1.76

# Дополнительные инструменты
jupyterlab>=3.0
notebook>=6.5
ipywidgets>=7.7
